<div class="flexspace"> 
  <div class="leftimg">
<div class="white-box ">
  <div class="stdetail">
    <h3>{{ selectedCourse.courseName }}</h3>
    <ul>
      <li>
        <div>
          <label>Duration: </label>
          <div>{{ selectedCourse.courseTimeLength }}</div>
        </div>
      </li>
      <li>
        <div>
          <label>Professor Name: </label>
          <div>{{ selectedCourse.professorName }}</div>
        </div>
      </li>
      <li>
        <div>
          <label>Date: </label>
          <div>{{ selectedCourse.startDate }}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="rightcont">
    <div class="white-box basicinfo">
      <div class="heading3">Course Details</div>
      <p>{{ selectedCourse.courseDetails }}</p>
    </div>
  </div>

</div>
</div>
</div>