<!-- <div class="breadcrumbsec">
  <ul>
    <li><a href="dashboard.html">Dashboard</a></li>
    <li><a>Teachers</a></li>
    <li>All Teachers</li>
  </ul>
</div> -->
<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="white-box">
  <div class="titles aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">All Teachers</div>
  <div class="tabletop fcs">
    <!-- <div><button class="btn bluebtn" (click)="test()">+ Test</button></div> -->
    <div><button class="btn bluebtn" (click)="addTeacher()">+ Add Teacher</button></div>
    <div class="searchfield"><input class="form-control" type="text" value="" placeholder="Search"  (change)="search()" [(ngModel)]="keyword"></div>
  </div>
  <div class="tablesec">
    <table class="table">
      <thead>
        <tr>
          <!-- ₹ -->
          <th><input type="checkbox"></th>
          <th width="50">Image</th>
          <th>Name</th>
          <th>Department</th>
          <th>Gender</th>
          <th>Degree</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Joining Date</th>
          <th width="100">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of teachers; track $index) {
        <tr>
          <td><input type="checkbox"></td>
          <td><img src="https://cargofile.s3.ap-south-1.amazonaws.com/teachers/{{item.profilePhoto}}" alt="teacher" height="30"></td>
          <td>{{item.firstName +' '+item.lastName}}</td>
          <td>{{item.education}} </td>
          <td>{{item.gender}}</td>
          <td>{{item.degree}}</td>
          <td>{{item.mobile}}</td>
          <td>{{item.email}}</td>
          <td>{{item.joiningDate | date:'dd-MM-yyyy'}}</td>
          <td>
            <button class="btn editbtn " matTooltip="Edit" (click)="editTeacher(item.id)"><i class="fa fa-pencil"></i></button>
            <button class="btn viewbtn" matTooltip="View" (click)="aboutTeacher(item.id)"><i class="fa fa-eye"></i></button>
            <button class="btn deletebtn" matTooltip="Delete" (click)="removeTeacher(item)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <mat-paginator #paginator class="demo-paginator"
     (page)="handlePageEvent($event)" [length]="length"
      [pageSize]="pageSize" [disabled]="disabled"
       [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
       [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </div>
</div>