.text-center{
    text-align: center;
}

.btn:hover {
    color: var(--white);
    background: #3b4b61;
}

.cancel-btn {
    margin-left: 10px; /* Adjust the value as needed */
  }

  button[disabled] {
    /* Example: Reduce opacity for disabled state */
    cursor: not-allowed; /* Example: Change cursor for disabled state */
  }

.msg{
  color: red;
}

.uploadimg {display: flex; align-items: flex-start; width: 200px; height: 230px; background: var(--light-theme); position: relative; border:1px solid #ccc; padding: 2px;}
.uploadimg img{object-fit: contain; width: 100%; height: 100%;}

.btn_upload {cursor:pointer;display:flex; overflow:hidden; position:absolute; color:var(--dark-gray); font-weight:600; width:100%; height:100%; align-items:end; justify-content: center;}
.btn_upload input {cursor: pointer; height: 100%; width: 100%; position: absolute;  filter: alpha(opacity=1);  -moz-opacity: 0;  opacity: 0;}
.btn-rmv1{display: none;}
.rmv {cursor: pointer; border:none; display: block;background:var(--white); width: 24px; height: 24px; border-radius: 30px; position: absolute; right: 5px; top: 5px; }
.rmv:hover { background:var(--light-theme);}
.image-uploaded{display: none;}
.btn_upload span{background: #edf2f8; color: var(--dark-gray); padding:5px 10px; border-radius: 4px;margin-bottom: 20px;}
